@font-face {
    font-family: 'Alegreya Sans';
    src: url('/fonts/AlegreyaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

:root {
    --width: 720px;

    --font-mono: 'JetBrains Mono', monospace;
    --font-body: 'Alegreya Sans', serif; /* Top 3 fonts of all time */

    --bg: #121212;
    --border: #2d2d3d;
    --heading-text: #e2e6ec;
    --text: #d1d5db;
    --accent: #ff4d4d;
    --muted: #6b7280;
}

* {
    scrollbar-color: #3c3c3c var(--bg);
    scrollbar-width: thin;
}

::selection {
    background: rgba(255, 77, 77, 0.5);
}

body {
    font-family: var(--font-body);
    font-size: 1.2rem;
    line-height: 1.75;
    color: var(--text);
    background-color: var(--bg);
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 1.5rem;
    overflow-wrap: break-word;
}

section {
    padding-top: 1rem;
}

.title {
    padding: 80px 0px;
    & h1 { margin-bottom: 0.35em; };
}

.title-sub {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    color: var(--muted);
}

.title-line {
    width: 3rem;
    height: 0.25rem; /* to be honest, I have no idea if hardcoding these values would be worse*/ 
    background-color: var(--accent);
    margin-bottom: 0;
    border: none;
    margin: 1.5rem 0 0.5rem 0;
}

h1, h2, h3 {
    font-family: var(--font-mono);
    line-height: 1.33;
}

h1 { 
    font-size: 2.25em;
    color: var(--heading-text);
}

h2 {
    font-size: 1.5em;
}

p {
    margin-bottom: 1.5em;
}

ul, ol {
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}


a {
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

a:hover {
    opacity: 0.75;
}

strong {
    color: var(--heading-text);
    font-weight: 600;
}

small {
    font-size: 0.8em;
    color: var(--text);
}

footer {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px dashed var(--border);
    text-align: center;
    font-size: 0.8em;
    font-family: var(--font-mono);
    color: var(--muted);
    &p { margin-bottom: 0.3em; }
}