@font-face {
    font-family: 'Alegreya Sans';
    src: url('/fonts/AlegreyaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

:root {
    --width: 720px;

    --font-mono: 'JetBrains Mono', monospace;
    --font-body: 'Alegreya Sans', serif;

    --bg: #121212;
    --border: #2d2d3d;
    --text: #d1d5db;
}

body {
    font-family: var(--font-body);
    font-size: 1.2rem;
    line-height: 1.75;
    color: var(--text);
    background-color: var(--bg);
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 24px;
    overflow-wrap: break-word;
}

header {
    padding: 80px 0px;
}

h1, h2, h3 {
    font-family: var(--font-mono);
    line-height: 1.33;
}

p {
    margin-bottom: 1.5em;
}

small {
    font-size: 0.8em;
    color: var(--text);
}

footer {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px dashed var(--border);
    text-align: center;
    font-size: 0.8em;
    font-family: var(--font-mono);
    &p { margin-bottom: 0.3em; }
}